/* De CSS voor het menu */

ul {
    list-style-type: none;
    background-color: darkcyan;    
    width: 190px;
    /* height:601px; */
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

li  {
    background-color:#0086b3;
    padding-top: 15px;
    padding-bottom: 15px;
    border: outset 1px;
}

a {
    text-decoration: none;
    z-index: 1;
}

a li {
    margin-left: 0px;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

li:hover {
    background-color:#6699ff;
}



/* De CSS voor home.php */

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    margin: 0px;
    
}

.form {
    margin-left: 14%;
    position: relative;
}

#banner {
    position: relative;
    margin-left: 190px;
}

h1 {
    position: absolute;
    top: 60px;
    margin-left: 40%;
    color:#00cc66;
    font-size: 50px;
}

h2 {
    margin-left: 17%;
}

img {
    height: 40vh;
    width: 100%;
}

.flexcontainer {
    display: flex;
    height: 350px;
}

#toevoegDiv {
    position: relative;
    background-color: lightblue;
    width: 378px;
    height: 230px;
    border-radius: 10px;
    margin-left: 240px;
}

#inputType {
    margin-left: 119px;
    margin-bottom: 3px;
    width: 100px;
}

#inputVliegtuigMa {
    margin-bottom: 3px;
    margin-left: 1px;
    width: 80px;
}

#statusDropDown {
    margin-left: 110px;
}

#btnSubmit {
    position: relative;
    left: 83px;
    top: 34px;
}

#toevoegDivPlanning {
    position: relative;
    background-color: #8cd9b3;
    width: 378px;
    height: 230px;
    border-radius: 10px;
    margin-left: 235px;
}

#tovoegDivPlanning label {
    margin-left: 10px;
}

#dropdownVliegtuigNummer {
    margin-left: 4px;
}

#inputDestination {
    margin-left: 39px;
    width: 155px;
}

#inputDepartureDate {
    margin-left: 30px;
}

#inputRetourDate {
    margin-left: 35px;
}

#statusDropDownPlanning {
    margin-left: 83px;

}

#btnSubmitPlanning {
    position: relative;
    left: 83px;
}

/* De CSS voor de <table> */
table {
    margin-left: 200px;
    background-color: lightblue;
    float: left;
    margin-top: 10px;
    border: solid 1px black;
}

td {
    text-align: center;
    border: solid 1px black;
}

th {
    background-color: darkcyan;
}

tr:nth-child(even) {
    background-color:#6699ff;
}

tr {
    background-color: yellowgreen;
    border: solid 1px black;
}

#bodyDiv {
   margin-top: 30px; 
   margin-left:8%;
   position: absolute;
   
}

.tools {
    margin-left: 200px;
}

/* De CSS voor planepage.php */
#detailDiv {
    margin-left: 200px;
    float: left
}

/* De CSS voor deleted.php */
#deletedPage {
    background-color:#8cd9b3
}

h3 {
    margin-left: 14px;
    margin-top: 15px;
    font-size: 31px;
    position: relative;
    
}

#messageDiv {
    position: absolute;
    background-color: #00cc66;
    width: 500px;
    margin-left: 30%;
    margin-top: 11%;
    border-radius: 12%;
    height: 300px;
    border-style: solid;


}

p {
    margin-left: 14px;
}